@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   /* TEMA ESCURO */

   --primary-color: #F0F0F0;
   --primary-bg-color: #111217;
   --secondary-bg-color: #28292E;
   --border-color: #28292E;
   --title-color: #F0F0F0;
   --text-color: #9A9A9C;
   --link-color: #9A9A9C;
   --icon-color: #C7C8C9;
   --line-color: #32BDEF;

   /* TEMA CLARO */

   --primary-color-b: #0B0B0F;
   --primary-bg-color-b: #E9E9E9;
   --secondary-bg-color-b: #C7C8C9;
   --border-color-b: #C7C8C9;
   --title-color-b: #0B0B0F;
   --text-color-b: #28292E;
   --link-color-b: #28292E;
   --icon-color-b: #56575A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'League Spartan';
    color: var(--text-color);
}

i { 
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header-icon {
    display: flex;
    justify-content: flex-end;
}

.header .logo .img_logo {
    width: 3.25rem;
    height: 3.25rem;
}

#icon_theme {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu-nav {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 4px solid var(--line-color);
}

.menu-mobile .menu-nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu-nav-item.active .menu-nav-link, .menu-nav-item:hover {
    color: var(--line-color);
    border-bottom: 4px solid var(--line-color);
}

.menu-icon, .menu-texto-mobile {
    color: var(--line-color);
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-texto-mobile {
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-nav-item {
    width: 100%;
}

.header-nav {
    display: none;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--line-color);
        padding: 1rem 6rem;
        background-color: var(--primary-bg-color);
    }

    .menu-mobile {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    footer {
        margin: 0;
    }
}

.menu-texto {
    color: var(--text-color);
    text-transform: uppercase;
}

.menu-texto.active, .menu-texto:hover {
    transition: all 300ms ease-in;
    color: var(--primary-color);
}

.menu-principal {
    gap: 1rem;
}

.header-icon {
    min-width: 30%;
}

.header-nav {
    min-width: 30%;
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    transition: all 300ms ease-in;
    color: var(--primary-color);
    font-weight: 600;
}

footer {
    border-top: 1px solid var(--line-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    position: fixed; /* Posição fixa para garantir que o footer seja sempre visível */
    bottom: 0; /* Alinha o footer na parte inferior da janela */
}

